* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    /* font-family: "Cardo", serif; */
}
.container {
    max-width: 1202px;
    margin: 0 auto;
    padding: 0px 16px;
}

.header {
    padding-top: 38.36px;
    padding-bottom: 35.89px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo {
    max-width: 183.86px;
    width: 100%;
    max-height: 25.75px;
    height: 100%;
}
.nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__item {
    text-align: center;
    min-width: 134px;
}
.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
.nav__link:hover {
    padding-bottom: 37.5px;
    border-bottom: 3px solid#BABBC5;
}
.nav__link:active {
    color: #E71414;
    padding-bottom: 37.5px;
    border-bottom: 3px solid#E71414;
}
.banner__line {
    width: 1170px;
    border-bottom: 1px solid #BABBC5;
    margin: 0 auto;
    margin-bottom: 130px;
}
.banner {
    background: url(../images/bannerimg.jpg) center / cover no-repeat;
    position: relative;
    padding-bottom: 120px;
    margin-bottom: 116px;
}
.banner::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(37, 43, 73, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.banner__container {
    position: relative;
    text-align: center;
}
.banner__title {
    font-size: 64px;
    line-height: 75px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 31.43px;
    text-transform: uppercase;
}
.banner__text {
    line-height: 28px;
    font-size: 24px;
    color: #fff;
    margin-bottom: 79.57px;
    font-weight: 400;
    padding: 0 70px;
}
.banner__button {
    max-width: 370px;
    width: 100%;
    font-weight: 900;
    line-height: 28px;
    font-size: 24px;
    padding: 26px 10px;
    color: #fff;
    background-color: #FF4343;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.banner__button:hover {
    background-color: #E71414;
    
}
.banner__button:active {
    filter: drop-shadow(4px 4px 30px #FF4343);
    background-color: #FF4343;
}
@media (max-width: 1023px) {
    .container {
        max-width: 1016px;
    }
    .header {
        padding-top: 38px;
        padding-bottom: 36.5px;
    }
    .logo svg{
        max-width: 180.85px;
        max-height: 25.5px;
    }
    .nav__item {
        min-width: 112px;
    }
    .nav__link {
        font-size: 12px;
        line-height: 14px;
    }
    .banner__line {
        width: 984px;
        margin-bottom: 157px;
    }
    .banner {
        background: url(../images/bannerimgtablet.jpg) center / cover no-repeat;
        padding-bottom: 126px;
    }
    .banner__title {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 61.86px;
    }
    .banner__text {
        line-height: 21px;
        font-size: 18px;
        margin-bottom: 89.14px;
        padding: 0 110px;
    }
    .banner__button {
        max-width: 314px;
    }  
}
@media (max-width: 767px) {
    .container {
        max-width: 312px;
    }
    .header {
        padding-top: 21.39px;
        padding-bottom: 20.26px;
        margin-bottom: 50px;
    }
    .logo svg{
        max-width: 103.47px;
        max-height: 14.35px;
    }
    .nav {
        display: none;
    }
    .banner__line {
        display: none;
    }
    .banner {
        background: url(../images/bannerimgmobile.jpg) center / cover no-repeat;
        padding-bottom: 52px;
    }
    .banner__title {
        font-size: 36px;
        line-height: 52px;
        margin-bottom: 32.71px;
    }
    .banner__text {
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 49.29px;
        padding: 0 6px;
    }
    .banner__button {
        max-width: 280px;
    }
}
.features {
    margin-bottom: 116px;
}
.features__container {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 88.57px;
    flex-wrap: wrap;
}
.features__item {
    max-width: 370px;
    width: 100%;
    text-align: center;
}
.features__wrapper-icon {
    width: 100px;
    height: 100px;
    align-items: center;
    margin: 0 auto 29px;
}
.features__title {
    line-height: 28px;
    font-size: 24px;
    font-weight: 900;
    color: #2D3033;
    margin-bottom: 20.43px;
    padding: 22px 0;
    text-transform: uppercase;
}
.features__text {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    color: #6C7279;
}
.work {
    margin-bottom: 114px;
}
.work__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1542px;
    padding: 0px 15px;
}
.work__wrapper-icon {
    position: relative;
    overflow: hidden;
    width: 378px;
    height: 340px;
}
.work__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.work__title {
    max-width: 378px;
    text-align: center;
    position: relative;
    line-height: 28px;
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
    padding-bottom: 36.57px;
    padding-top: 126px;
    text-transform: uppercase;
    display: none;
}
.work__wrapper-icon:hover .work__title {
    display: block;
    cursor: pointer;
    background: rgba(255, 67, 67, 0.8);
}
.work__wrapper-icon:active .work__title {
    display: block;
    cursor: pointer;
    background: rgba(185, 12, 12, 0.8);
}
.work__text {
    width: 378px;
    text-align: center;
    position: relative;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 128.43px;
    color: #6C7279;
    color: #FFFFFF;
    background: rgba(255, 67, 67, 0.8);
    display: none;
}
.work__wrapper-icon:hover .work__text {
    display: block;
    cursor: pointer;
}
.work__wrapper-icon:active .work__text {
    display: block;
    cursor: pointer;
    background: rgba(185, 12, 12, 0.8);
}
.team {
    margin-bottom: 114px;
}
.team__container {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.team__wrapper-icon {
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
}
.team__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team__title {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    color: #2D3033;
    margin-bottom: 5.29px;
    padding: 1px 0;
}
.team__post-text {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    color: #FF4343;
    margin-bottom: 17.86px;
    text-transform: uppercase;
}
.team__text {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    color: #6C7279;
    margin-bottom: 37.86px;
}
.team__social-icons {
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.team__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
}